{
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "globals": {
        "Framework": true
    },
    "rules": {
        "semi": [2, "never"],
        "no-console": "off",
        "linebreak-style": [0, "error", "windows"],
        //fixes an issue with Express
        "no-unused-vars": ["error", { "argsIgnorePattern": "next|value" }]
    },
    "parserOptions": {
        "sourceType": "module",
        "parser": "babel-eslint"
    }
}
